.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    z-index: 6;
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.header {
    background: radial-gradient(#ffffff, #ffd6d6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Serif', sans-serif;
}

a {
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #ffffff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}